body{
  background-color: rgb(14, 14, 14);
  color: rgb(221, 221, 221) !important;
}




.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.carousel-caption{
   position: absolute;
   top: 50%;
   transform: translateY(-50%); 
}
.carousel-caption h1{
  font-weight: 500;
  font-size: 450%;
}
.carousel-caption h4{
 padding-top: 10px;
 padding-bottom: 25px;
 font-weight: 200;
 font-size: 160%;
}
.selectors .btn{
margin:  5px;
}

.image-holder h1{ 
  font-size: 200%;
 }
 .image-holder h4{
  font-weight: 200;
  font-size: 80%;
  padding-top: 6px;
  padding-bottom: 10px;
 }
 .image-holder .btn{
  font-size: 50%;
  padding: 2px,5px;
 }
 .image-holder{
   position: relative;
 }

.image-holder .centered{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 
}
.image-holder img{
  opacity: 0.4;
  height: 100%;
  width: 100%;
}
.navbar{
  background-color: black;
  padding: 15px;
}
.modal .carousel img{
opacity: 1 ;
}

.navbar  li a{
  color: rgb(221, 221, 221) !important;
  font-size: 14px;
}
.navbar .myDropdown{
  background-color: black;
}
.navbar .myDropdown a:hover{
  background-color: black;
}

.navbar li {
  padding-right: 20px;
}
.navbar li a:hover{
  color: rgb(148, 148, 148)  !important;
}
.navbar li a.active{
  color: rgb(107, 28, 255) !important;
}


.navbar-logo li a{
  color: rgb(221, 221, 221);
  font-size: 27px;
  letter-spacing: 2px;
 
}
.navbar .socials li a {
font-size: 20px;
}
.carousel-inner img{

  opacity: 0.4;
  height: 100%;
  width: 100%;
  
}
.btn-primary{
  background-color: rgb(107, 28, 255);
  border-color:  rgb(107, 28, 255);
}
.btn-primary:hover{
  background-color: rgb(144, 86, 252);
}
.item{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
footer{
  padding:60px;
  margin-top: 15px;
  color: rgb(221, 221, 221);
  background-color: rgb(27, 27, 27);
}
.gallery a{
  width: 100%;
 height: 100%;
 overflow: hidden;
}
.gallery a img{
  -webkit-transition: transform 0.2s, opacity 0.2s;
  -moz-transition: transform 0.2s, opacity 0.2s;
  -o-transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}

.gallery a:hover img{
  opacity: 0.6;
  transform: scale(1.1);
  
}

@media (max-width: 992px){
  .carousel-caption{
    top: 48%;
 }
 .carousel-caption h1{
   font-size: 350%;
 }
 .carousel-caption h4{
  font-size: 120%;
  padding-top: 8px;
 padding-bottom: 20px;
 }
}
@media (max-width: 768px){

 .carousel-caption{
    top: 44%;
 }
 .carousel-caption h1{ 
  font-size: 300%;
 }
 .carousel-caption h4{
  font-weight: 200;
  font-size: 100%;
  padding-top: 7px;
  padding-bottom: 15px;
 }
 .carousel-caption .btn{
  font-size: 90%;
  padding: 8px,15px;
 }
}

@media (max-width: 768px){

  .carousel-caption{
     top: 44%;
  }
  .carousel-caption h1{ 
   font-size: 300%;
  }
  .carousel-caption h4{
   font-weight: 200;
   font-size: 100%;
   padding-top: 6px;
   padding-bottom: 12px;
  }
  .carousel-caption .btn{
   font-size: 90%;
   padding: 8px,15px;
  }
 }

 @media (min-width: 576px){
  .mobile-view{
    display: none;
  }
 }
 @media (max-width: 576px){

  .carousel-caption{
     top: 40%;
  }
  .carousel-caption h1{ 
   font-size: 200%;
  }
  .carousel-caption h4{
   font-weight: 200;
   font-size: 80%;
   padding-top: 6px;
   padding-bottom: 10px;
  }
  .carousel-caption .btn{
   font-size: 50%;
   padding: 2px,5px;
  }
  .carousel{
    display: none;
  }
 }
 
